.grid {
  --service-card-width: 356px;
  display: grid;
  grid-template-columns: minmax(0, min(100%, var(--service-card-width)));
  justify-content: center;
  gap: var(--spacing-md);
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(
      2,
      minmax(0, min(100%, var(--service-card-width)))
    );
    justify-content: center;
    gap: var(--spacing-lg);
  }
}

@media screen and (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: stretch;
    gap: var(--spacing-lg);
  }
}
