.section {
  padding: 48px 0;
  background-color: var(--color-bg-secondary);
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  margin-bottom: 32px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.link {
  width: fit-content;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 72px 0;
  }

  .header {
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
  }
}
